body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

header .wrapper {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

header .main {
  display: flex;
  justify-content: space-between;
  max-width: 956px;
  min-width: 768px;
  height: 72px;
  margin: auto;
  padding-left: 10.2px;
  padding-right: 4px;
}

.main .logo {
  width: 119.23px;
  height: 12.31px;
  margin: auto;
  margin-right: 46.22px;
  margin-left: 0;
}

.gps {
  display: flex;
}

:focus {
  outline: none;
}

.asap {
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  color: #1d1d1d;
  margin: auto 0;
}

label {
  margin: auto 0;
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 300;
  color: #626262;
}

.nav {
  position: relative;
  width: 292px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  margin: auto 0;
}

.location {
  position: absolute;
  top: 12.5px;
  left: 12px;
}

.adress {
  position: absolute;
  width: 160px;
  height: 35px;
  top: 0;
  left: 36px;
  border: none;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

section .buttons {
  display: flex;
}

header a {
  text-decoration: none;
}

.button {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
}

.sign {
  margin: auto 0;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  color: #1d1d1d;
  font-weight: 500;
}

.reg {
  background: #262626;
  margin: auto 0;
  margin-left: 16px;
  margin-right: 27px;
  color: #fff;
  font-weight: 500;
}

.buttons .backet {
  width: 19px;
  height: 23px;
  margin: auto 0;
  margin-right: 10px;
}

.wrapper_search {
  padding-left: 9.2px;
  padding-right: 4px;
}

.search {
  display: flex;
  max-width: 962px;
  height: 48px;
  margin: 32px auto 0;
  border-bottom: 1px solid rgba(75, 75, 75, 0.3);
}

.search img {
  margin-top: 9.2px;
  width: 22px;
  height: 21.9px;
}

.search input {
  width: 223px;
  height: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 16px 8px;
  border: none;
}

.mobile {
    display: none;
    height:61px;
    margin-top: 45px;
    position: relative;
}

.mobile-nav {
  width: 227px;
}

.mobile::before,
.mobile::after {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
}

.mobile::before {
  position: absolute;
  content: "When";
  top: -21px;
  margin-left: 10px;
}

.mobile::after {
    position: absolute;
    content: "To";
    top: -21px;
    left: 90px;

}

.mobile_gps {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.mobile_asap {
    margin-right: 16px;
}

@media screen and (max-width: 639px) {
    section .gps {
        display: none;
    }

    header .main {
        min-width: 320px;
      }

    .main .logo > img {
      width: 105px;
    }

    .mobile {
       display: block;
    }

    .button {
      width: 72px;
    }

    .button.reg {
      margin-right: 0;
      margin-left: 12px;
    }

    .backet {
      display: none;
    }
}

main {
  padding: 0 4px 0 8px;
}

main a {
  text-decoration: none;
}

main .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main h1 {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin: 56px 0 16px;
}

.catalog-wrapper {
  max-width: 956px;
  margin: auto;
  
}

section.card {
  width: 308px;
  height: 366px;
  padding-bottom: 36px;
}

section.card img {
  width: 308px;
  height: 256px;
}

main h2 {
  height: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 0;
}

main h2 > a {
  color: #1d1d1d;
}

section.card h3:nth-of-type(1) {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0;
}

section.card h3:nth-of-type(2) {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin: 0;
}

a:hover:not(.logo) {
  opacity: 0.8;
}

footer {
  background-color: #262626;
  height: 552px;
  padding: 56px 8px 40px;
  color: #fff;
}

footer .footerWrapper {
  margin: 0 auto;
  max-width: 956px;
}

footer a {
  color: #fff;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;

}

.footerName {
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

footer .columns {
  margin-top: 32px;
  padding-bottom: 48px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  display: flex;
}

footer .column {
  width: 33.3%;
}

footer .languageSelector {
  width: 227px;
  height: 40px;
  border-radius: 2px;
  border: none;
  position: relative;
}

footer select {
  width: 227px;
  height: 40px;
  border-radius: 2px;
  background: #3B3B3B;
  border: none;
  padding-left: 48px;
  font-size: 13px;
  color: #fff;
  cursor: pointer;
  position: absolute;
}

footer .globe {
  position: absolute;
  margin: 10px;
}


footer .hash {
  font-size: 16px;
  line-height: 19px;
  margin: 33px 0 21px;
}

footer .hash > span {
  color: #49A144;
}

footer .socialButtom > a {
  margin-right: 5px;
}

footer .footerMenu {
  padding-top: 7px;
}

footer .footerLinks:not(:last-child) {
  margin-bottom: 23px;
}

footer .appStores {
  margin: 40px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding-bottom: 40px;
  text-align: center;
}

footer .appStores img[alt="AppStore"] {
  margin-right: 40px;
}

footer .terms{
  margin-top: 40px;
  display: flex;
  font-size: 11px;
  line-height: 13px;
}

footer .column > a {
  font-size: 11px;
  line-height: 13px;
}

footer .upPointer {
  margin: 0 16px 24px 928px;
}