body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
}

header .wrapper {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

header .main {
  display: flex;
  justify-content: space-between;
  max-width: 956px;
  min-width: 768px;
  height: 72px;
  margin: auto;
  padding-left: 10.2px;
  padding-right: 4px;
}

.main > img {
  margin-right: 46.22px;
}

.gps {
  display: flex;
}

.asap {
  width: 65px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  color: #1d1d1d;
  margin: auto 0;
}

span {
  margin: auto 0;
  margin-left: 9px;
  margin-right: 9px;
  font-weight: 300;
  color: #626262;
}

.nav {
  position: relative;
  width: 292px;
  height: 40px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 2px;
  margin: auto 0;
}

.location {
  position: absolute;
  top: 12.5px;
  left: 12px;
}

.adress {
  position: absolute;
  top: 8px;
  left: 36px;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

section .buttons {
  display: flex;
}

header a {
  text-decoration: none;
}

.button {
  width: 80px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 2px;
}

.sign {
  margin: auto 0;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
}

.sign a {
  font-weight: 500;
  color: #000;
}

.reg {
  background: #262626;
  margin: auto 0;
  margin-left: 16px;
  margin-right: 27px;
}

.reg a {
  font-weight: 500;
  color: #fff;
}

.buttons img {
  margin-right: 10px;
}

.wrapper_search {
  padding-left: 9.2px;
  padding-right: 4px;
}

.search {
  display: flex;
  max-width: 962px;
  height: 48px;
  margin: 32px auto 0;
  border-bottom: 1px solid rgba(75, 75, 75, 0.3);
}

.search img {
  margin-top: 9.2px;
  width: 22px;
  height: 21.9px;
}

.search input {
  width: 223px;
  height: 24px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 8px 0 16px 8px;
  border: none;
}

.mobile {
    display: none;
    height:61px;
    margin-top: 45px;
    position: relative;
}

.mobile-nav {
  width: 227px;
}

.mobile::before,
.mobile::after {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #626262;
}

.mobile::before {
  position: absolute;
  content: "When";
  top: -21px;
  margin-left: 10px;
}

.mobile::after {
    position: absolute;
    content: "To";
    top: -21px;
    left: 90px;

}

.mobile_gps {
    display: flex;
    margin-left: 10px;
    margin-top: 20px;
}

.mobile_asap {
    margin-right: 16px;
}

@media screen and (max-width: 639px) {
    section .gps {
        display: none;
    }

    header .main {
        min-width: 320px;
      }

    .main > .logo {
      width: 105px;
    }

    .mobile {
       display: block;
    }

    .button {
      width: 72px;
    }

    .button.reg {
      margin-right: 0;
      margin-left: 12px;
    }

    .backet {
      display: none;
    }
}

main {
  padding: 0 4px 0 8px;
}

main .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main h1 {
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  margin: 56px 0 16px;
}

.catalog-wrapper {
  max-width: 956px;
  margin: auto;
  
}

section.card {
  width: 308px;
  height: 366px;
  padding-bottom: 36px;
}

section.card img {
  width: 308px;
  height: 256px;
}

section.card h2 {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  margin: 16px 0 0;
}

section.card h3:nth-of-type(1) {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin: 4px 0;
}

section.card h3:nth-of-type(2) {
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin: 0;
}

