

footer {
    background-color: #262626;
    height: 552px;
    padding: 56px 8px 40px;
    color: #fff;
}

footer .footerWrapper {
    margin: 0 auto;
    max-width: 956px;
}

footer a {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    text-decoration: none;

}

.footerName {
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

footer .columns {
    margin-top: 32px;
    padding-bottom: 48px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
}

footer .column {
    width: 33.3%;
}

footer .languageSelector {
    width: 227px;
    height: 40px;
    border-radius: 2px;
    border: none;
    position: relative;
}

footer select {
    width: 227px;
    height: 40px;
    border-radius: 2px;
    background: #3B3B3B;
    border: none;
    padding-left: 48px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    position: absolute;
}

footer .globe {
    position: absolute;
    margin: 10px;
}


footer .hash {
    font-size: 16px;
    line-height: 19px;
    margin: 33px 0 21px;
}

footer .hash > span {
    color: #49A144;
}

footer .socialButtom > a {
    margin-right: 5px;
}

footer .footerMenu {
    padding-top: 7px;
}

footer .footerLinks:not(:last-child) {
    margin-bottom: 23px;
}

footer .appStores {
    margin: 40px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding-bottom: 40px;
    text-align: center;
}

footer .appStores img[alt="AppStore"] {
    margin-right: 40px;
}

footer .terms{
    margin-top: 40px;
    display: flex;
    font-size: 11px;
    line-height: 13px;
}

footer .column > a {
    font-size: 11px;
    line-height: 13px;
}

footer .upPointer {
    margin: 0 16px 24px 928px;
}